<% @javascripts += ['jquery.lightboxLib', 'wishes/index'] %>
<div id="wide">
  <h2>欲しいものリスト</h2>
  <%= render 'layouts/notice' %>
  <%= form_for(@wish, :url => preview_wishes_path) do |f| %>
    URL:&nbsp;<%= f.text_field :uri %><%= f.submit 'プレビュー' %><%= image_tag('ajax-loader.gif', :style => 'display: none;', :id => 'ajax_loader') %>
  <% end %>
  <% @wishes.each do |wish| %>
    <h3><%= link_to wish.name, wish%></h3>
    <p>
      <%= truncate wish.description, :length => 50 %>
    </p>
    <p><%= wish.price %><br><%= link_to '[削除]', wish, :confirm => '削除してもよろしいですか?', :method => :delete %></p>
  <% end %>
  <p>
    <%= link_to 'トップページへ戻る', root_path %>
  </p>
  <div id="totop"><a href="#">ページのトップへ戻る</a></div><!-- toptop end -->
</div><!-- wide end -->
