<p id="notice"><%= notice %></p>

<p>
  <b>Uri:</b>
  <%= @wish.uri %>
</p>

<p>
  <b>Name:</b>
  <%= @wish.name %>
</p>

<p>
  <b>Price:</b>
  <%= @wish.price %>
</p>

<p>
  <b>Image url:</b>
  <%= @wish.image_url %>
</p>

<p>
  <b>Thumbneil url:</b>
  <%= @wish.thumbneil_url %>
</p>

<p>
  <b>Bought:</b>
  <%= @wish.bought %>
</p>

<p>
  <b>User:</b>
  <%= @wish.user %>
</p>


<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
