<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cash.name %>
</p>

<p>
  <b>Price:</b>
  <%= @cash.price %>
</p>

<p>
  <b>User:</b>
  <%= @cash.user %>
</p>


<%= link_to 'Edit', edit_cash_path(@cash) %> |
<%= link_to 'Back', cashes_path %>
