<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>minami.rb nihonchaプロジェクト</title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<link href="stylesheets/base.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
	<div id="temp">
		<div id="header">
			<h1>nihonchaプロジェクト</h1>
		</div><!-- header end -->
		<div id="menu">
			<ul>
				<li><!-- <a href="sample.html">MENU1</a> --><%= link_to '欲しいものリスト', wishes_path %></li>
				<li><a href="1column.html">MENU2</a></li>
				<li><a href="sample.html">MENU3</a></li>
				<li><a href="sample.html">MENU4</a></li>
			</ul>
		</div><!-- menu end -->
		<div id="navi">
			<ul>
				<li><a href="#">logout</a></li>
				<li><a href="#">navi2</a></li>
			</ul>
		</div><!-- navi end -->

    <%= yield %>

		<div id="footer">
			<address>Copyright &copy; 2010 minamirb.nihoncha All Rights Reserved.</address>
		</div><!-- footer end -->
	</div><!-- temp end -->
</div><!-- wrapper end -->
<% @javascripts.each do |js| -%>
  <%= javascript_include_tag js %>
<% end -%>
</body>
</html>
